@import 'tailwindcss';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
  --background-color: #121212;
  --text-color: #e0e0e0;
}

.input-text {
  @apply w-full rounded-md border border-gray-300 bg-gray-900 px-3 py-2 text-sm
         text-white placeholder-gray-400
         focus:border-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-500
}

.button-primary {
  @apply bg-blue-600 text-white px-4 py-2 text-sm font-bold rounded-md hover:bg-blue-700
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2
         disabled:opacity-50 disabled:cursor-not-allowed
}


.button-secondary {
  @apply text-white px-4 py-2 rounded-md border-2 text-sm font-bold border-gray-600 hover:bg-blue-400 
         focus:outline-none focus:ring-2 disabled:opacity-50 disabled:cursor-not-allowed
}

.button-ghost {
  @apply border-2 border-transparent hover:border-gray-500 text-gray-300 px-4 py-2 rounded-md text-sm font-bold focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed
  hover:text-gray-400
}

.error-text {
  @apply text-red-500 font-bold text-xs mt-1;
}

body {
	margin: 0;
	min-height: 100vh;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.text-mute {
	color: #bbb;
}

@layer components {
  /* The dimmed background overlay */
  .dialog-overlay {
    @apply fixed inset-0 bg-black/50 transition-opacity duration-300 ease-linear;
    animation: fadeIn 0.2s ease-out;
  }

  /* The actual modal box */
  .dialog-content {
    @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 
           bg-white p-6 rounded-xl shadow-2xl w-full max-w-md;
    animation: zoomIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes zoomIn {
    from { 
      opacity: 0; 
      transform: scale(0.7); 
    }
    to { 
      opacity: 1; 
      transform: scale(1); 
    }
  }
}